
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');



nav.navbar, .navbar-default {
    background-color: #2892D7 !important;
}

.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    color: ghostwhite;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}


.navlink {
    color: white;
    font-size: 2em;
    text-decoration: none;

}
nav.navbar, .navbar-default {
    background-color: #2892D7 !important;

}

.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
}


.profile-pic {
    padding:  0.5em;
}

.nav-link {
    margin: 0.5em;
    color: gold;
    text-decoration: none;
}

#black {
    color: ghostwhite;
}
#gold {
    color: gold;
}

#red {
    color: red;
}
.mr-auto  {
    text-align: center;
}

.we {
    color: ghostwhite;
}

.share {
    color: gold;
}

.job {
    color: red;
}


.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.nav {
    text-decoration: none;
}
.wesharejob {
    text-align: right;
    font-family: 'Chango', cursive;
}
