.jumbotron {
    margin-bottom: 4em;
    background-color: ghostwhite;
}
.person-wrapper {
    margin-bottom: 2em;
}

.profile-pic {
    width: 50%;
    size: 50px;
}

.btn-primary {
    background-image: none;
    border: none;
    border-radius: 0;
    background-color: #2892D7;
}

h3 {
    margin-bottom: 1em;
}

#listoffer {
    size: 200px;
}
.text-center {
    text-align: center;
    background-color: #2892D7;
    margin: auto;
}

.email {
    background-color: #2892D7;
    margin: auto;
}


.titre {
    text-align: center;
    color: #2892D7;
}



.description {
    text-align: center;
}


.containerwescrapjob {
    text-align: center;
}

.containercontact {
    text-align: center;
}


.titrescrap {
    text-align: center;
}

.titrescrap {
    color: ghostwhite;
}
.welcome {
    margin-top: 20px;
}

.poleEmploi {

    margin-top: 43px;
}

.linkedin {
    margin-top: 78px;
    color: ghostwhite;
}

.indeed {
    color: ghostwhite;
}